@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400;1,500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    @apply w-11/12 lg:w-[80%] mx-auto
}

.btn-primary{
    transition: all ease-in .2s;
    @apply text-white bg-[#d64b21] px-8 py-2 text-xl rounded-sm
}

.btn-primary:hover{
    @apply text-[#d64b21] bg-white
}

.active{
    @apply border-b-4 border-[#d64b21] py-1
}